# Задание 1
Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. 
Даты должны вводиться в формате YYYY-MM-DD.

In [23]:
def date_range():
    from datetime import datetime as dt
    from datetime import timedelta
    start = input('Введите начальную дату в формате YYYY-MM-DD: ')
    end = input('Введите конечную дату в формате YYYY-MM-DD: ')
    begin = dt.strptime(start, '%Y-%m-%d')
    finish = dt.strptime(end, '%Y-%m-%d')
    dates = []
    day = begin
    while day < finish:
        day += timedelta(days = 1)
        toadd = dt.strftime(day, '%Y-%m-%d')
        dates.append(toadd)
    return(dates)

In [24]:
date_range()

Введите начальную дату в формате YYYY-MM-DD: 2008-05-06
Введите конечную дату в формате YYYY-MM-DD: 2008-06-01

['2008-05-07',
 '2008-05-08',
 '2008-05-09',
 '2008-05-10',
 '2008-05-11',
 '2008-05-12',
 '2008-05-13',
 '2008-05-14',
 '2008-05-15',
 '2008-05-16',
 '2008-05-17',
 '2008-05-18',
 '2008-05-19',
 '2008-05-20',
 '2008-05-21',
 '2008-05-22',
 '2008-05-23',
 '2008-05-24',
 '2008-05-25',
 '2008-05-26',
 '2008-05-27',
 '2008-05-28',
 '2008-05-29',
 '2008-05-30',
 '2008-05-31',
 '2008-06-01']

# Задание 2
Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если start_date > end_date должен возвращаться пустой список.

In [62]:
def date_range():
    from datetime import datetime as dt
    from datetime import timedelta
    dates = []
    start = input('Введите начальную дату в формате YYYY-MM-DD: ')
    end = input('Введите конечную дату в формате YYYY-MM-DD: ')
    try:
        begin = dt.strptime(start, '%Y-%m-%d')
        finish = dt.strptime(end, '%Y-%m-%d')
    except:
        return(dates)
    if finish > begin:
        day = begin
        while day < finish:
            day += timedelta(days = 1)
            toadd = dt.strftime(day, '%Y-%m-%d')
            dates.append(toadd)
    else:
        return(dates)
    return(dates)

In [64]:
date_range()

Введите начальную дату в формате YYYY-MM-DD: 2008-05-06
Введите конечную дату в формате YYYY-MM-DD: 2008-05-01

[]

# Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [129]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02', '2010-05-45', '2000-01-25', '1100-01-02', '1992-02-29']
def datecheck(dat_list):
    from datetime import datetime as dt
    for i in dat_list:
            try:
                print(i)
                date = dt.strptime(i, '%Y-%m-%d')
                check = True
                print(check)
            except:
                check = False
                print(check)

In [130]:
datecheck(stream)

2018-04-02
True
2018-02-29
False
2018-19-02
False
2010-05-45
False
2000-01-25
True
1100-01-02
True
1992-02-29
True

# Задание 4 (бонусное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

1. В списке нет элемента с таким индексом.
2. Функция не учитывает изменения индексов при цикличном использовании. В последней строке явно указывается номер элемента в абсолютном значении, при втором запуске индексы не совпадают.