# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd

In [4]:
rate = pd.read_csv('ratings.csv')
mov =  pd.read_csv('movies.csv')
full = rate.merge(mov, on ='movieId', how = 'left')
full = full.drop(['genres','timestamp','userId'], axis='columns')

In [5]:
full = full.groupby('title').mean()[['rating']].reset_index()

In [6]:
def movie_class(row):
    if row >= 4:
        return('Высокий')
    if row <= 4 and row > 2:
        return('Cредний')
    if row <= 2:
        return('Низкий')

In [7]:
full['class'] = full['rating'].apply(movie_class)
full.head()

                                     title  rating    class
0                               '71 (2014)     4.0  Высокий
1  'Hellboy': The Seeds of Creation (2004)     4.0  Высокий
2                   'Round Midnight (1986)     3.5  Cредний
3                      'Salem's Lot (2004)     5.0  Высокий
4                'Til There Was You (1997)     4.0  Высокий

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [184]:
words = pd.read_csv('keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [228]:
def geolocator(row):
    edit = row.lower().split(' ')
    centr = ['москва','тула','ярославль']
    dv = ['петербург','псков','мурманск']
    sz = ['владивосток','сахалин', 'хабаровск']
    for i in edit:
        if i in centr:
            return('Центр')
        if i in dv:
            return('Дальний Восток')
        if i in sz:
            return('Северо-Запад')
    return('undefined')

In [231]:
words['region'] = words['keyword'].apply(geolocator)

In [230]:
print(words.loc[21445])
print(words.loc[21978])
print(words.loc[22920])

keyword         сахалин
shows             14494
region     Северо-Запад
Name: 21445, dtype: object
keyword    авито москва и московская область авто с пробе...
shows                                                  18149
region                                                 Центр
Name: 21978, dtype: object
keyword    интернет банк санкт петербург
shows                              18280
region                    Дальний Восток
Name: 22920, dtype: object

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [452]:
rate = pd.read_csv('ratings.csv')
mov =  pd.read_csv('movies.csv')
full = rate.merge(mov, on ='movieId', how = 'left')
full = full.drop(['genres','timestamp', 'userId'], axis='columns') 
full['rating'].astype('float')

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

In [453]:
def year_sorting(row):
    to_split = row.lower().replace(')','').split('(')
    prod_year = to_split[-1]
    year_check = list(range(1950,2011))
    try:
        if int(prod_year) in year_check:
            return(int(prod_year))
        else:
            return(1900)
    except:
        return(1900)

In [454]:
full['Production Year'] = full['title'].apply(year_sorting)

In [460]:
full = full.groupby('Production Year').mean()[['rating']].sort_values(by = 'rating', ascending = False)
full.head(50)

                   rating
Production Year
1957             4.039535
1954             4.009191
1962             3.969466
1952             3.953125
1964             3.940160
1972             3.939891
1974             3.935622
1967             3.922572
1975             3.879121
1958             3.842424
1971             3.841463
1966             3.823684
1950             3.813665
1968             3.812212
1977             3.810406
1951             3.804945
1959             3.794239
1981             3.760732
1976             3.760047
1973             3.757764
1970             3.754098
1965             3.735043
1980             3.733581
1960             3.721116
1955             3.719780
1961             3.700000
1969             3.690367
1956             3.682609
1979             3.676845
1953             3.647059
1983             3.631549
1963             3.628920
2010             3.569096
2009             3.568966
1991             3.552265
1900             3.538378
1984             3.529493
2008             3.528126
2007             3.522433
1982             3.510921
2004             3.507227
1994             3.500944
1999             3.498677
2006             3.498452
1987             3.488312
2001             3.482243
1989             3.463061
2003             3.462321
1986             3.460152
1978             3.455102